<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<integer>65</integer>
		<key>y</key>
		<integer>220</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>155</integer>
		<key>y</key>
		<integer>220</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>245</integer>
		<key>y</key>
		<integer>220</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>335</integer>
		<key>y</key>
		<integer>220</integer>
	</dict>
    <dict>
		<key>x</key> 
		<integer>100</integer>
		<key>y</key>
		<integer>125</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>195</integer>
		<key>y</key>
		<integer>125</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>280</integer>
		<key>y</key>
		<integer>125</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>370</integer>
		<key>y</key>
		<integer>125</integer>
	</dict>
    <dict>
		<key>x</key> 
		<integer>80</integer>
		<key>y</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>170</integer>
		<key>y</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>260</integer>
		<key>y</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>350</integer>
		<key>y</key>
		<integer>35</integer>
	</dict>
</array>
</plist>
