<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
        <array>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>100</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>2000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>4000</integer>
                </dict>

        </array>
        <array>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>100</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>2000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>3500</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>5000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>7000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>9000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>11000</integer>
                </dict>

        </array>
        <array>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>100</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>1800</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>3600</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>5400</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>7200</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>9000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>11000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>13000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>14000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>15000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>16000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>17000</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>17800</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>18500</integer>
                </dict>
                <dict>
                        <key>data</key>
                        <string></string>
                        <key>spawnTime</key>
                        <integer>19000</integer>
                </dict>
        </array>
</array>
</plist>
